<% content_for :title, "Все лабораторные работы" %>
<% if @table_view %>
	<% content_for (:ss) do %>
		<%= stylesheet_link_tag 'jquery.dynatable' %>
		<%= javascript_include_tag 'jquery.dynatable' %>
	<% end %>

	<div class="lab" id="table-block">
		<span>
		<label>Выбрать лабу:</label>
		<select id="search-lab" name="lab">
			<option></option>
			<% @labs.each do |lab| %>
				<option><%= lab.task %></option>
			<% end %>
		</select>
		<label>Выбрать группу:</label>
		<select id="search-group" name="group">
			<option></option>
			<% @groups.each do |group| %>
			<option><%= group %></option>
			<% end %>
		</select>
		<table id="site-table" border="1" width="100%">
			<thead>
				<tr>
					<td data-dynatable-column="lab" >Задание лабораторной</td>
					<td data-dynatable-column="name">Имя студента</td>
					<td data-dynatable-column="group">Группа студента</td>
					<td data-dynatable-column="votes">Голосов за работу</td>
				</tr>
			</thead>
			<% @sites.each do |site| %>
				<tr>
					<td><%= site.lab.task %></td>
					<td><%= site.user.name %></td>
					<td><%= site.user.group %></td>
					<td><%= site.likes %></td>
				</tr>	
			<% end %>
		</table>
		</span>
	</div>
	<script type="text/javascript">
		$(function () {
			var dynatable = $('#site-table').dynatable({
				features: {
					paginate: false,
					recordCount: false,
					search: false
				},
				inputs: { 
					queries: $('#search-lab, #search-group')
				}
			}).data('dynatable');
		});
		
	</script>
<% else %>
	<% @labs.each do |lab| %>
		<div class="lab">
			<span><%= link_to lab.task , lab_path(lab) %></span>
			<div class="">
				<% lab.sites.each do |site| %>
					<div class="rab">
						<span><%= site.name %></span>
						<%= cl_image_tag(site.screens.sample, crop: :fill, width: 300) %>
					</div>
				<% end %>
				<div class="end"></div>
			</div>
		</div>
	<% end %>
<% end %>