<% content_for (:ss) do %>
	<%= stylesheet_link_tag 'index' %>
	<%= javascript_include_tag 'index' %>
	<%= javascript_include_tag 'like' %>
<% end %>
<% content_for (:manager) do %>
	<button id ="prev" onclick="prev()">◄</button>
	<button id="next" onclick="next()">►</button>
<% end %>
<% content_for :title, "Главная страница" %>
<% content_for :label, "Недавний сайт" %>


<div class="slider">
	<% @random.each do |r| %>
	<div class="slid">

		<%= cl_image_tag(r.screen, quality: 45) %>
		<div>
			<div class="text">
				<%= r.name %>(<span class="like-counter"><%= r.site.likes %></span>♥) 
			</div>
			<%= render 'like', site: r.site %>
		</div>
	</div>
	<% end %>
</div>