<% if user_signed_in? %>
	<% content_for :menu_items do %>
		<li class="selected">
			<span>
				<% if @user_havent_site_for_lab %>
					<%= link_to "Добавить сюда свой сайт", new_lab_site_path(@lab) %>
				<% else %>
					<%= link_to "Редактировать мой сайт", edit_lab_site_path(@lab,@user_site) %>
				<% end %>
			</span>
		</li>
		<% if current_user.is_admin? %>
			<li class="selected">
				<span><%= link_to "Редактировать лабу", edit_lab_path(@lab) %></span>
			</li>
		<% end %>
	<% end %>
<% end %>
<% content_for :title, "Лабораторная работа" %>
<% content_for :label do %>
	<p><%= @lab.task %></p>
	<div class="apple_pagination" style="text-align: center;">
		<%= will_paginate @sites %>
	</div>
<% end %>
<% content_for (:ss) do %>
	<%= stylesheet_link_tag 'lightbox' %>
	<%= javascript_include_tag 'lightbox.min' %>
	<%= javascript_include_tag 'like' %>
<% end %>

<% @sites.each_with_index do |site,idx| %>
	<div class="rabota">
		<div class="text">
			<div>
				<%= render 'like', site: site %>
			</div>
			<span>
				<%= site.name %>
				(<%= link_to_unless(site.link.blank?, "Посмотреть сайт", url_with_protocol(site.link), target: :_blank) do end -%>
				<%= link_to_unless(site.static_link.blank?, "Посмотреть сайт", url_with_protocol(site.static_link), target: :_blank) do end -%>)
			</span>
			<h3 class="label">Сделал: <%= site.user.name %> (<%= site.user.group %>)</h3>
			<h3 class="label"><span class="like-counter"><%= site.likes %></span>♥</h3>
			
		</div>
		<div class="img">
			<% site.screens.each do |screen_url| %>
				<a href="<%= cl_image_path(screen_url, quality: 70) %>" data-lightbox="<%= site.id %>">
					<%= cl_image_tag(screen_url, crop: :fill, width: 250, height: 200 ) %>
				</a>
			<% end %>
		</div>
		<div style="clear: both"></div>
	</div>
<% end %>