<% if @user_havent_site_for_lab %>
	<%= link_to "Добавить сюда свой сайт", new_lab_site_path(@lab) %>
<% end %>
<% if user_signed_in? and current_user.is_admin? %>
	<%= link_to "Редактировать лабу", edit_lab_path(@lab) %>
<% end %>
<h1>Сайты этой лабы:</h1>
<% @sites.each_with_index do |site,idx| %>
	<h2><%= idx %></h2>
	<h3>Сделал: <%= site.user.name %></h3>
	<h3>Лайков: <%= site.likes %></h3>
	<% site.screens.each do |screen_url| %>
		<%= link_to [@lab, site]  do %>
			<%= cl_image_tag(screen_url, crop: :fill, width: 300, height: 300, style: "float:left" ) %>
		<% end %>
	<% end %>
	<% if user_signed_in? %>
		<%= link_to "ЛАЙК!", :controller => "sites", :action => "like", :id => site %>
	<% end %>
	<div style="clear: both;"></div>
<% end %>