<% content_for :title, "Редактирование сайта" %>
<%= cloudinary_js_config %>
<div class="lab">
	<span>
	<%= form_for [@site.lab, @site], html: {multipart: true} do |f| %>
		<p>Название сайта</p>
		<%= f.text_field(:name) %>
		<p>Ссылка на сайт</p>
		<%= f.text_field(:link) %>
		<% if @site.static_id.blank? %>
			<p>Загрузить статический сайт в виде ZIP архива</p>
		<% else %>
			<p id="update-caption">Обновить сайт(zip-архив)</p>
			<a href="#"><h6 id="site-deleter">Удалить хостящийся сайт</h6></a>
		<% end %>
			<%= f.file_field("upload_site") %>
		<p>Загрузите свои скрины:</p>
		<%= cl_image_upload_tag("screens[]", :html => { :multiple => true }) %>
		<div class="preview">
			<% @site.screens.each do |screen_url| %>
				<div style="float:left">
					<%= cl_image_tag(screen_url, crop: :fill, width: 150, height: 150 ) %>
					<div class="delete-screen" data-id="<%= screen_url -%>">X</div>
				</div>
			<% end %>
		</div>
		<div class="progress_bar" style="background-color: red;height: 20px;width:0;clear:both"></div>
		<%= submit_tag "Отправить" %>
		<h6 style="text-align:right"><%= link_to "Удалить сайт полностью", lab_site_path(@site.lab, @site), data: {method: :delete, confirm: "Вы уверены?"} %></h6>
	<% end %>
	</span>
</div>
<script>
	$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
		$('.preview').append(
			$.cloudinary.image(data.result.public_id, 
				{ format: data.result.format, version: data.result.version, 
					crop: 'fill', width: 150, height: 150 })
			); 
		return true;
	});
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
		$('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
	});
	$('.delete-screen').click(function () {
		var el = $(this);
		var screen_url = el.attr('data-id');
		$.ajax({ method: "DELETE",
			url: "<%= url_for controller: :sites, 
			action: :delete_screen, 
			id: @site.id -%>",
			data: { screen_url: screen_url}});
		el.parent().remove();
	});
	$('#site-deleter').click(function () {
		var el = $(this);
		$.ajax({ method: "DELETE",
			url: "<%= url_for controller: :sites, 
			action: :delete_static, 
			id: @site.id -%>"});
		el.remove();
		$("#update-caption").text("Загрузить статический сайт");
	});
</script>