<% content_for :title, "Редактирование сайта" %>
<%= cloudinary_js_config %>
<div class="lab">
	<span>
	<%= form_for [@site.lab, @site] do |f| %>
		<p>Название сайта</p>
		<%= f.text_field(:name) %>
		<p>Загрузите свои скрины:</p>
		<%= cl_image_upload_tag("screens[]", :html => { :multiple => true }) %>
		<div class="preview">
			<% @site.screens.each do |screen_url| %>
				<div style="float:left">
					<%= cl_image_tag(screen_url, crop: :fill, width: 150, height: 150 ) %>
					<div class="delete-screen" data-id="<%= screen_url -%>">X</div>
				</div>
			<% end %>
		</div>
		<div class="progress_bar" style="background-color: red;height: 20px;width:0;clear:both"></div>
		<%= submit_tag "Отправить" %>
	<% end %>
	</span>
</div>
<script>
	$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
		$('.preview').append(
			$.cloudinary.image(data.result.public_id, 
				{ format: data.result.format, version: data.result.version, 
					crop: 'fill', width: 150, height: 150 })
			); 
		return true;
	});
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
		$('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
	});
	$('.delete-screen').click(function () {
		var el = $(this);
		var screen_url = el.attr('data-id');
		$.ajax({ method: "DELETE",
			url: "<%= url_for controller: :sites, 
			action: :delete_screen, 
			id: @site.id -%>",
			data: { screen_url: screen_url}});
		el.parent().remove();
	})
</script>