<% content_for :title, "Создание сайта" %>
<%= cloudinary_js_config %>
<div class="lab">
	<span>
	<%= form_for [:lab, @site], html: {multipart: true} do |f| %>
		<p>Название сайта</p>
		<%= f.text_field(:name) %>
		<p>Ссылка на сайт</p>
		<%= f.text_field(:link) %>
		<p>Или загрузите статический сайт в виде ZIP архива</p>
		<%= f.file_field("upload_site") %>
		<p>Загрузите свои скрины:</p>
		<%= cl_image_upload_tag("screens[]", :html => { :multiple => true }) %>
		<div class="preview"></div>
		<div class="progress_bar" style="background-color: red;height: 20px;width:0;"></div>
		<%= submit_tag "Отправить" %>
	<% end %>
	</span>
</div>

<script>
	$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
		$('.preview').append(
			$.cloudinary.image(data.result.public_id, 
				{ format: data.result.format, version: data.result.version, 
					crop: 'fill', width: 150, height: 150 })
			); 
		return true;
	});
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
		$('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
	});
</script>